@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial,  sans-serif;
}

body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./image sources/./login-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.imglogo{
    text-align: center;
}
.all p{
    display: block;
    font-size: 35px;
    color: black;
    justify-content: center;
    
}
.all{
    width: 612px;
    height: 473px;
    background: transparent;
    /*background-color: rgba(255, 255, 255, 0.482);*/
    border: 5px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    color: rgb(10, 10, 10);
    border-radius: 20px;
    padding: 30px 40px;
    font-size: 25px;
}
.all.ratuarant-logo{
    display: flex;
    position: relative;
    bottom: -50px;
    float: 100;
    
    
}

.all .input{
    width: 100%;
    height: 50%;
    padding: 10px 0 ;

}
.input input{
    border: none;
    outline: none;
    background: ghostwhite;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 30px;
    width: px;
    color: rgb(0, 0, 0);
   
}
.all .p1{
    font-weight: 20px;
    font-size: 20px;
    color: rgb(212, 198, 198);
    text-align: center; 
    text-decoration: underline;

}

.all .btn{
    position: relative;
    bottom: -50px;
    float: right;
    width: 150px;
    height: 65px;
    background: rgb(255, 0, 0);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;   
   
}
.btn a{
    text-decoration: none;
    color: white;
}