body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #ff0202;
    
}
.pos-bottom{
    display: flex;
    position: relative;
    top: 40px;
    left: 900px;
    margin-bottom: 80px;
    background-color: rgba(243, 188, 188, 0.365);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 5px ;
    cursor: pointer; 


 
}
.bell{
   
    position: relative;
    top: 35px;
    left: 1000px;
    margin-bottom: 70px;
    
    
}
.container{
    width: 1212px;
    height: 473px;
    background: lightgray;
    border: 5px solid rgba(255, 255, 255, 2);
    box-shadow: 0 0 5px;
    color: rgba(255, 0, 0, 0.655);
    padding: 30px 40px;
    position: absolute;
    top: 100px;
}
.content1 .menu-item{
    width: 40px;          /* Box width */
    height: 50px;         /* Box height */
    background-color: rgb(255, 255, 255); /* Box background color */
    border: 2px solid #ffffff; /* Border with color */
    padding: 15px;         /* Space inside the box */
    margin: 1px;          /* Space outside the box */
    text-align: center;    /* Center text horizontally */
    font-size: 9px;
    position: relative;
    left: -40px;
    top: -30px;  
}
.menu-item p {
    margin: 1px ;
    color: #ff0000;
    font-weight: bold;
}
.border{
    display: flex;
    position: absolute;
    top: 60px;
    left: 100px;
}
.regist{
    display: flex;
    position: absolute;
    top: 1px;
    left: 100px;
    color: black;
    

}
.regist-name{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 80px;
    border-radius: 10px;
    background-color: white;
    width: 1080px;
    height: 280px;
    padding: 50px 30px;
}
.date{
    position: absolute;
    top: 10px;
    left: 450px;
}

.EXCEL{
    position: absolute;
    top: 50px;
    left: 1000px;
    color: red;
    background-color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    border: 2px solid red;
}
.PDF{
    position: absolute;
    top: 50px;
    left: 890px;
    color: green;
    background-color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    border: 2px solid green;
}
.Ware{
    display: flex;
    position: absolute;
    top: 65px;
    left: 890px;
}
.select{
    display: flex;
    position: absolute;
    top: 100px;
    left: 890px;
}


table {
    position: absolute;
    top: 150px;
    width: 1100px;
    border-collapse: collapse;
    
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  .actions{
    text-align:right ;
    padding: 1px 50px;
}
.act{
    text-align:right ;
    padding: 1px 50px;
}




.p{
    display: flex;
    position: absolute;
    top: 290px;
    left: 40px;
}
.sec{
    display: flex;
    position: absolute;
    top: 308px;
    left: 160px;
}


.footer{
    
    text-align: center;
    color: black;
    padding: 1px 0;
}



